.wrap {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 100px;

  .loginInfoPreview {
    text-align: center;
  }

  .loginInfoPreviewUserName {
    margin-top: 20px;
    font-size: 13px;
    color: #ccc;
    opacity: 0.6;
    transition: all 0.3s linear;
    cursor: default;
    // cursor: pointer;

    &.loginInfoPreviewUserNameActive,
    &:hover {
      color: #333;
      opacity: 1;
    }
  }

  .mainForm {
    width: 100%;

    margin-top: 20px;
  }
}
.userSeletorNickname {
  margin-left: 10px;
  // @todo 这里需要做省略就需要overflow，但overflow就对不齐，以后再改了
}
