@import '~@/var.scss';

.main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

$dark-color: #001529;

.menuWrap {
  background-color: $dark-color;
  height: 100%;
  overflow: auto;
  flex-shrink: 0;

  :global {
    .ant-menu-inline .ant-menu-item {
      margin-top: 0;
    }
  }
}

.menu {
  width: 256px;
}

$logo-height: (54px * 0.8);

.logo {
  display: block;

  background-image: url(https://cache.cswsadlab.com/wp-content/themes/zanblog2_1_0/ui/images/logo1.svg);
  width: 80%;
  height: $logo-height;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  cursor: pointer;
}

.content {
  height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: hidden;

  & > * {
    width: 100%;
    flex-grow: 1;
    flex-shrink: 0;
    overflow: auto;
  }

  .header {
    background-color: $dark-color;
    height: ($logo-height + 10px * 2);
    flex-grow: 0;
    padding-right: 20px;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    color: #fff;

    .clickAble {
      cursor: pointer;
    }
  }

  .footer {
    flex-grow: 0;
    text-align: center;
    color: #777;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 12px;
    :global {
      a {
        color: $primary-color;
      }
    }
  }
}

.passCopyBtn {
  cursor: pointer;
  color: $primary-color;
}
