.wrap {
  flex-grow: 1;
  padding: 0;
  max-width: 680px;
  flex-basis: 0;
  overflow: auto;
}

.form {
  padding-left: 10px;
  padding-right: 10px;
}

.table {
  width: 100%;
}

.heightLightHelper {
  :global {
    .ant-form-item-explain {
      color: red;
    }
  }
}
